@charset "UTF-8";

html *,
::before,
::after {
  box-sizing: border-box;
}

img {
 max-width: 100%;
 height: auto;
 vertical-align: bottom;
}

body {
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05rem;
}


/*================================
header
================================*/

.topimage {
 display: block;
 max-width: 100vw;
 height: 100vh;
 margin-bottom: 150px;
 position: relative;
 background-image: url(../images/hme-mainphoto.JPG);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.header-container {
 position: relative;
}

.sitetitle {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: rgba(172,113,79,0.5);
  top: 0px;
  left: 0px;
  right:0px;
  background-attachment: scroll;
}

.sitetitle h1 {
  padding: 10px;
  margin: 0;
  top: 5px;
  left: 5px;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.sitetitle a {
  color: #fff;
  position: relative;
  text-decoration: none;
}

.header-logo {
  width: 130px;
  font-size: 1.85rem;
  color: #fff;
}
.mainblur {
  filter: blur(8px);
}
.menu {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(172,113,79,0.8);
  transition: all 0.3s;
}
.menu.panelactive {
  opacity: 1;
  z-index: 999;
}
.menu ul {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.menu.panelactive ul {
  display: block;
}
.menu li {
  list-style: none;
  text-align: center;
}
.menu li a {
  text-decoration: none;
  padding: 10px;
  display: block;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.navbtn {
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 999;
  width: 60px;
  height: 60px;
} 
.navbtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: -2px;
  height: 2px;
  border-radius: 8px;
  background: #fff;
  width: 72%;
}
.navbtn span:nth-of-type(1) {
  top: 10px;
}
.navbtn span:nth-of-type(2) {
  top: 31px;
}
.navbtn span:nth-of-type(3) {
  top: 50px;
}
.navbtn.active span:nth-of-type(1) {
  top: 25px;
  left: 5px;
  transform: translateY(6px) rotate(-45deg);
  width: 72%;
}
.navbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.navbtn.active span:nth-of-type(3) {
  top: 37px;
  left: 5px;
  transform: translateY(-6px) rotate(45deg);
  width: 72%;
}
/*================================
  main-container 
================================*/
.main-container {
  margin: 100px auto;
  padding: 0 4%;
}

.main-container .contents {
  display: block;
  margin: 100px auto;
}
.section-inner {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.main-container a {
  color: #717171;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
}
.main-container a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #717171;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
.main-container a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
.main-container .title {
  font-weight: 400;
  font-size: 2.75rem;
  margin: 0 auto;
  color: #333;
}
.paragraph {
  flex-direction: column;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.paragraph_en {
  padding-left: 0;
}
.main-container h3 {
  margin: 0.2rem auto 1rem;
  font-weight: 400;
  font-size: 4rem;
  color: #717171;
}

.sec1-gallery {
  margin: 0 0 60px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 10px;
  row-gap: 2px;
}

.sec2-swiper {
   margin: 10px 0;
}
.slider .slick-slide {
  margin: 0 60px;
  padding: 60px 0;
  position: relative;
}
.slider .slick-slide .slide-img {
  width: 310px;
  height: 420px;
  transition: all 0.6s ease 0.4s;
    opacity: 0.8;
  box-shadow: 7px 7px 15px -5px #666;
  overflow: hidden;
}
.slider .slick-slide.slick-current .slide-img {
    transform: scale(1.2);
    opacity: 1;
}
.slider .slick-slide .slide-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.slider .slick-arrow::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #09000d;
  border-width: 3px 3px 0 0;
  position: absolute;
  top: 24px;
  transform: rotate(45deg);
}
.slider .slick-next {
  right: 0;
}
.slider .slick-prev {
  left: 0;
}
.slider .slick-next::before {
  left: 20px;
}
.slider .slick-prev::before {
  border-width: 0 0 3px 3px;
  right: 22px;
}
.dots .slick-dots {
  text-align: center;
}
.dots .slick-dots li {
  display: inline-block;
}
.dots .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px;
  font-size: 0px;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #bcbcbc;
  border-radius: 50%;
}
.dots .slick-dots .slick-active button {
  background: #0a467d;
}
.sec3-flex {
  margin: 0;
  flex-direction: column;
}
#sec3-ecoactivity .txt_jp {
  margin-top: 50px;
}
.sec4-flex {
  margin: 0;
  flex-direction: column;
} 
.sec4-flex figure {
  padding: 0 .25rem;
}
.paragraph {
  margin: 20px auto;
}
.sub-caption {
  margin-bottom: 20px;
  font-size: 1.75rem;
  text-align: left;
}
.sub-caption_jp {
  font-size: 1.5rem;
}
.paragraph_jp {
  height: 310px;
  padding: 0;
}
.txt_en {
  text-align: left;
  margin: 0 1rem 1rem 0;
}
.txt_jp {
  height: 218px;
}

.sec4-flex div {
  width: 100%;
}
.sec4-flex img {
  padding: 10px;
}
.name_en {
  font-size: 1.75rem;
  margin: 10px 0 0 0;
  text-align: left;
}
.name_jp {
  margin: 7px 0 0 0;
  text-align: left;
}
/*================================
  footer 
================================*/
.footer-container {
  padding: 60px 4%;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  color: #333;
  font-weight: 400;
  background: #ddddda;
  text-align: center;
 }
.footer-container a {
  color: #717171;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
}

.footer-container a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #717171;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.footer-container a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
/*================================
  watercolor-body 
================================*/
#watercolor p {
  font-size: 1.125rem;
}
/*================================
  travel
================================*/
.wrap {
  column-count: 1;
}
/*================================
  ecoact-body 
================================*/
.info-img {
  margin-top: -48px;
}
.act-txt_en {
  width: 100%;
}
/*================================
  work-body 
================================*/
.work-lists {
  padding-right: 5px;
  padding-left: 5px;
}
.lists {
  max-width: 100%;
  flex: 0 0 100%;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.txt {
  padding: 1px 0;
}