* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --page-bg: #fff;
  --font-black: #262626;
  --font-e-playfair: 'Playfair Display', serif;
  --font-e-source: 'Source Sans Pro', sans-serif;
  --border-b: 1px solid #CCC;
}

body {
  color: var(--font-black);
  background-color: var(--page-bg);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  word-break: break-all;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul,
figure {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

header {
  width: 100%;
  position: relative;
}

header.scrolled .sitetitle {
  color: #232323;
}

section {
  width: 86%;
  margin: 6% auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* flex, grid, float */
.grid {
  display: grid;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-r {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

.a-center {
  align-items: center;
}

/* -! flex */

/* font */
.t-center {
  text-align: center;
}

.font-26 {
  font-size: 1.625rem;
}

.font-38 {
  font-size: 2.4rem;

}

.font-w-600 {
  font-weight: 600;

}

.font-w-700 {
  font-weight: 700;
}

/* -! font */

/* spacing */
.mt-4 {
  margin-top: 4%;
}

.mb-2 {
  margin-bottom: 2%;
}

.mb-4 {
  margin-bottom: 4%;
}

.mb-10 {
  margin-bottom: 10%;
}


.mb-22 {
  margin-bottom: 22%;
}

/* -! spacing */

/* sitetitle */
.sitetitle {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  background-attachment: scroll;
  z-index: 1;
}

.sitetitle h1 {
  padding: 10px;
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.sitetitle ul {
  padding: 10px;
  top: 5px;
  right: 5px;
  letter-spacing: .2em;
}

.sitetitle a {
  color: #fff;
  position: relative;
  text-decoration: none;
}

.menu a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.menu ul {
  list-style: none;
}

.menu li {
  display: inline;
  padding: 0 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1em;
}

.navbtn {
  display: none;
}

.txt_en {
  font-family: var(--font-e-playfair);
  line-height: 1.5;
}



.w-42 {
  width: 42%;
}

.w-46 {
  width: 46%;
}

.w-58 {
  width: 58%;
}

.w-60 {
  width: 60%;
}

.w-72 {
  width: 72%;
}


/*================================
footer
================================*/
/* footer */
.footer-container {
  width: 100%;
  margin: 0 auto;
  padding: 2%;
  color: #333;
  font-weight: 400;
  background: #ddddda;
  text-align: center;
}

.footer-container a {
  color: #646464;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
}

.footer-container a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #646464;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.footer-container a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

/*================================
home-body 
================================*/
.topimage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  height: 100vh;
  background-image: url(../images/hme-mainphoto.JPG.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.topimage p {
  font-family: var(--font-e-playfair);
}

.fv_btn {
  padding: 6px 30px;
  color: #FAFAFA;
  font-size: 14px;
  border-radius: 99px;
  border: 1px solid rgba(250, 250, 250, 0.20);
}

.contact_btn {
  background: rgba(250, 250, 250, 0.20);
  backdrop-filter: blur(20px);
}

.fv-font {
  color: rgba(250, 250, 250, 0.60);
  font-size: 7.5rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
}



.main-container a {
  color: #333;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.main-container a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.paragraph_jp {
  position: relative;
  display: inline-block;
  writing-mode: vertical-rl;
  text-align: justify;
  height: 390px;
  vertical-align: middle;
  line-height: 2;
}

/*aboutme
================================*/
#aboutme {
  position: relative;
  overflow: hidden;
}

/*skill
================================*/
#skill .card {
  width: 31%;
  padding: 10% 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #CCC;
  background: #FFF;
  box-shadow: 0px 4px 33px 0px rgba(204, 204, 204, 0.25);
  text-align: center;
  font-size: 1.125rem;
  cursor: pointer;
}

#skill .card:hover {
  box-shadow: 0px 4px 22px 0px rgba(190, 171, 142, 0.25);
  border: 1px solid #BEAB8E;
}

#skill-set>ul>li {
  cursor: pointer;
}

.card-icon {
  margin-top: 14%;
}

li:nth-child(2n) .card-icon {
  margin-top: 26%;
}

.border-b {
  padding-bottom: 2%;
  border-bottom: var(--border-b);
}

#design-skill-set {
  display: block;
}

#design-skill-set li {
  width: 22%;
}

#design-skill-set li div {
  height: 178px;
  margin-bottom: 10px;
  padding-left: 22%;
  padding-right: 22%;
  border-radius: 160px;
  border: 3px solid #F5F5F5;
  background: #F5F5F5;
}

#develop-skill-set {
  display: none;
  margin: 7% 0;
}

#develop-skill-set .grid {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 20px;
  width: 100%;
  color: #232323;
}

/*================================
project
================================*/
#project .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

#project .item img {
  width: 100%;
  height: 216px;
  object-fit: cover;
}

/*================================
contact
================================*/

#contact .flex-r {
  justify-content: space-around;
}

form {
  width: 100%;
  border-radius: 8px;
  flex-direction: column;
  padding: 40px 24px;
  justify-content: flex-start;
}

form .flex-c {
  gap: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  font-size: 1rem;
  line-height: inherit;
  background-color: #F5F5F5;
  width: 100%;
  padding: 9px 8px;
  border: none;
  margin-top: 2px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #CCCCCC;
}

input[type="submit"] {
  margin: 10% auto;
  width: 125px;
  display: block;
  padding: 6px 30px;
  border-radius: 99px;
  border: 1px solid #BEAB8E;
  background: #FFF;
}

/*================================
watercolor-body 
================================*/
#watercolor p {
  text-align: center;
  margin: 10px auto;
  font-size: 1.25rem;
}

/*================================
travel-body 
================================*/
.wrap {
  margin-top: 50px;
  column-count: 3;
}

.item {
  break-inside: avoid;
  margin-bottom: 30px;
}

.item img {
  border-radius: 8px;
}

/*================================
work-body 
================================*/
.work-lists {
  max-width: 1040px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.work-item {
  max-width: 50%;
  margin-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

.txt {
  margin-top: 15px;
  display: flex;
  font-size: 12px;
}

.tag {
  position: relative;
  padding-right: 16px;
}

.tag::before {
  content: "";
  position: absolute;
  background: #09000d;
  width: 1px;
  height: 14px;
  right: 0;
  top: calc(50% - 5px)
}

.day {
  padding-left: 16px;
}

.ttl h4 {
  margin: 0 0 20px 0;
  font-size: 1.75rem;
}

/* fade-in
================================================== */

.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

@media screen and (max-width:1023px) {

  .main-container {
    padding: 0 4%;
  }

  #aboutme>.flex-r {
    flex-direction: column-reverse;
  }

  section {
    margin: 14% auto;
    width: 100%;
  }

  .w-60,
  .w-42,
  .w-46 {
    width: 100%;
  }

  #skill-set {
    margin-top: 10%;
  }

}

@media screen and (max-width:768px) {
  body {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }

  .mb-22 {
    margin-bottom: 10%;
  }


  /*================================
  header
  ================================*/

  .header-container {
    position: relative;
  }

  .sitetitle h1 {
    padding: 10px;
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #fff;
  }

  .sitetitle a {
    color: #fff;
    position: relative;
    text-decoration: none;
  }

  .header-logo {
    width: 160px;
    font-size: 1.85rem;
    color: #fff;
  }

  .mainblur {
    filter: blur(8px);
  }

  .menu {
    position: fixed;
    z-index: -1;
    opacity: 0;
  }

  .menu.panelactive {
    opacity: 1;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(172, 113, 79, 0.8);
    transition: all 0.3s;
  }

  .menu ul {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu.panelactive ul {
    display: block;
  }

  .menu li {
    list-style: none;
    text-align: center;
  }

  .menu li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    letter-spacing: 0.1em;
    font-weight: bold;
  }

  .navbtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
    width: 60px;
    height: 60px;
  }

  .navbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    height: 2px;
    border-radius: 8px;
    background: #fff;
    width: 72%;
  }

  .navbtn span:nth-of-type(1) {
    top: 20px;
  }

  .navbtn span:nth-of-type(2) {
    top: 30px;
  }

  .navbtn span:nth-of-type(3) {
    top: 40px;
  }

  .navbtn.active span:nth-of-type(1) {
    top: 25px;
    left: 5px;
    transform: translateY(6px) rotate(-45deg);
    width: 72%;
  }

  .navbtn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .navbtn.active span:nth-of-type(3) {
    top: 37px;
    left: 5px;
    transform: translateY(-6px) rotate(45deg);
    width: 72%;
  }

  /*================================
    main-container 
  ================================*/
  .fv-center {
    width: 72%;
  }

  .main-container a {
    color: #262626;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .main-container a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #717171;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }

  .paragraph_jp {
    margin-top: 5%;
    height: 310px;
  }

  .sec4-flex div {
    width: 100%;
  }

  .sec4-flex img {
    padding: 10px;
  }

  .name_en {
    font-size: 1.75rem;
    margin: 10px 0 0 0;
    text-align: left;
  }

  .name_jp {
    margin: 7px 0 0 0;
    text-align: left;
  }

  #aboutme {
    height: 690px;
  }

  #aboutme img {
    width: 74%;
    position: absolute;
    bottom: -33%;
  }

  #design-skill-set li div {
    padding-left: 12%;
    padding-right: 12%;
  }

  #project .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /*================================
    footer 
  ================================*/
  .footer-container {
    padding: 60px 4%;
  }

  .footer-container {
    width: 100%;
    margin: 0 auto;
    color: #333;
    font-weight: 400;
    background: #ddddda;
    text-align: center;
  }

  .footer-container a {
    color: #717171;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
  }

  .footer-container a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #717171;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }

  .footer-container a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  /*================================
    watercolor-body 
  ================================*/
  #watercolor p {
    font-size: 1.125rem;
  }

  /*================================
    travel
  ================================*/
  .wrap {
    column-count: 1;
  }

  /*================================
    ecoact-body 
  ================================*/

  .act-txt_en {
    width: 100%;
  }

  /*================================
    work-body 
  ================================*/
  .work-lists {
    padding-right: 5px;
    padding-left: 5px;
  }

  .lists {
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .txt {
    padding: 1px 0;
  }

}

@media screen and (max-width: 500px) {

  .w-58 {
    width: 100%;
  }

  .fv-font {
    font-size: 4rem;
  }

  #aboutme {
    height: 920px;
  }

  #aboutme img {
    bottom: 0;
  }

  #aboutme .desc {
    justify-content: end;
  }

  .paragraph_jp {
    height: 239px;
  }

  #skill .card {
    font-size: 0.9rem;
  }

}